/* 
.tag{
  color:rgb(29, 102, 212);
  font-weight:tight;
  box-shadow:2px 8px  8px 8px rgb(241, 241, 241);
}

.name{
  color:rgb(255, 255, 255);
}

.UserData{
  color:brown;
  font-size: large;
  font-variant: small-caps;
  box-shadow: 2px 2px 2px yellowgreen;
  border: 2px solid red;
  text-align: center;
  background-color: aqua;
  padding-left: 2px;
  padding-right: 2px;
}
.MyForm{
      border: 2px solid yellowgreen;
      height:fit-content;
      background-color: bisque;
      padding-top:0px;
     direction: ltr;
     text-align: center;
  

}
#form{
 max-width: max-content;
  border: 3px solid red;
  padding: 19px;
  display: flex;
  justify-self: center;
  text-align: center;
  text-align: center;
}

.container{
  border: 6px solid  rgb(145, 144, 144) ;
  font-size:25px;
}
#Lname{
  font-size:25px;
  border: 3px solid red;
}
#Fname{
  font-size:25px;
  border: 3px solid red;
}
#f{
  font-size:25px;
  
} */

#root{
  margin:0;
  padding:0;
}


