*{
  box-sizing:border-box;
   padding: 0;
   margin:0;
   top:0
   }
  .MyList{
  border:3px groove rgb(140, 247, 0);
  list-style:disc inside;
  width:100%;
  display:block;
  margin-right:auto;
   margin-bottom:123px;
   margin-left:auto; 
   font-family:sans-serif;
   padding: 12px 10px;
   background-color:black;
  } 
  ul li{
     color:rgb(255, 252, 254);
     font-size:20px;
     font-family:Cantarell;
   letter-spacing:2px;
   overflow-y:scroll ;
   padding:10px;
   height:150px;
   
     
  }
   
   
.container{
   width:100%;
   height:fit-content;
   display:flex;
   justify-content:center;
   flex-wrap:wrap;
   border:12px ridge rgb(13, 255, 0);
   background-color:rgb(59, 255, 245);
   padding:12px
}
.Main{
   flex-direction:column;
}
.My-Heading{
   font-family:monospace;
   text-decoration:transparent;
   color:rgb(255, 0, 0);
   font-size:32px;
   font-weight: lighter;
   margin-bottom:25px;
   
}
input{
   border-radius: 12px;
   font-size:20px;
   margin:10px 10px;
   padding:9px;
   color:green;
   font-family:monospace;
   font-weight:bold; 
}
#btn{
   font-size:20px;
   margin:10px 10px;
   padding:9px;
   color:rgb(255, 0, 25);
   font-family:monospace;
   font-weight:bold;
   border-radius: 12px;
   text-decoration: none;
}

.Todo-list{
  margin-top:0px;
  
}
.Todo-header{
    text-align:center;
    margin-top:22px;
}
#btn1{
   font-size:15px;
   margin:10px 10px;
   padding:8px;
   color:rgb(19, 0, 234);
   font-family:monospace;
   border-radius:12px;
}
#btn:hover{
   box-shadow: 4px 5px 10px 5px rgb(255, 255, 255);
   background-color: rgb(226, 226, 0);
  }
  #btn1:hover{
   box-shadow: 2px 1px 1px 2px rgb(255, 255, 255);
   background-color: rgb(217, 217, 25);
  }